
#userlist div {
    border-bottom: 1px solid black;
    height: 30px;
}

#userlist div .truncate {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#userlist div .actions {
    float:right;
}

video {
    border: 1px solid black;
    width: 100%;
}

.videoLabels {
    position: absolute;
    top: 0;
}